  <section class="container" id="rankJoke">
    <div class="text-center mb-4">
        <h2>Rank the Jokes</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card  shadow-sm text-center h-100">
          <div class="card-header">
            <h4 class="fw-normal">Joke 1</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Chuck Norris can slam a revolving door.</h1>
            <div class="d-flex align-items-center">
                <div class="w-100">
                    <select class="form-select" id="select-centered">
                    <option selected>Choose Rank</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card  shadow-sm text-center h-100">
          <div class="card-header">
            <h4 class="fw-normal">Joke 2</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Chuck Norris can hear sign language.</h1>
            <div class="d-flex align-items-center">
            <div class="w-100">
                <select class="form-select" id="select-centered">
                <option selected>Choose Rank</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                </select>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card  shadow-sm text-center h-100">
          <div class="card-header">
            <h4 class="fw-normal">Joke 3</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Chuck Norris can speak Braille.</h1>
            <div class="d-flex align-items-center">
            <div class="w-100">
                <select class="form-select" id="select-centered">
                <option selected>Choose Rank</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                </select>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>