<router-outlet></router-outlet>
<ng-container *ngIf="jokes$ | async as jokes">
  <section id="rankJoke">
    <div class="text-center mb-4">
      <h2>Rank the Jokes</h2>
    </div>
    <div class="joke-row">
      <div class="joke-col" *ngFor="let joke of jokes; let i = index">
        <div class="card shadow-sm text-center h-100">
          <div class="card-header">
            <h4 class="fw-normal">Joke {{ i + 1 }}</h4>
          </div>
          <div class="joke-card-body">
            <h1 class="joke-header">{{ joke.value }}</h1>
            <div class="heart-rank-row">
              <div>
                <input
                  type="checkbox"
                  [id]="'heart-toggle-' + i"
                  [checked]="isFavorite(joke.id)"
                  (change)="onHeartToggle($event, joke, i)"
                />
                <label [for]="'heart-toggle-' + i">
                  <svg class="heart" viewBox="0 0 24 24">
                    <path
                      d="M12 21s-6-4.35-9-8.7C-1.5 7.5 4.5 1.5 12 7.5c7.5-6 13.5 0 9 4.8-3 4.35-9 8.7-9 8.7z"
                    />
                  </svg>
                </label>
              </div>
              <div class="rank-div">
                <select
                  class="form-select"
                  [id]="'select-' + i"
                  [(ngModel)]="ranks[i]"
                  (ngModelChange)="onRankChange(i)"
                  [disabled]="ranks[i] !== undefined"
                >
                  <option [ngValue]="undefined">Choose Rank</option>
                  <option value="1" [disabled]="isRankTaken(1, i)">One</option>
                  <option value="2" [disabled]="isRankTaken(2, i)">Two</option>
                  <option value="3" [disabled]="isRankTaken(3, i)">Three</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="joke-col new-joke">
        <div>
          <button class="btn" (click)="getNewJokes()">Generate New Jokes</button>
        </div>
      </div>
    </div>
  </section>
</ng-container>