<div class="bloc_favorite">
    <div class="headerAndSort">
        <h2>Favorites</h2>
        <div class="sort-buttons">
            <button (click)="sortFavoritesAsc()" class="btn btn-outline-primary  btn-lg">Sort by Rank (Asc)</button>
            <button (click)="sortFavoritesDesc()" class="btn btn-outline-success btn-lg">Sort by Rank (Desc)</button>
        </div>
    </div>
    <div class="bloc_card">
        <div *ngFor="let favorite of favorites" class="fav-card">
            <div class="info">
                <div class="quote">{{favorite.quote}}</div>
                <div class="details">
                    <div class="rank">Rank: {{favorite.rank}}</div>
                    <div class="date">{{favorite.date}}</div>
                </div>
            </div>
            <div class="trash-div">
                <button type="button">
                    <svg viewBox="0 0 448 512" width="14" title="trash-alt">
                        <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
