
  <nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm fixed-top p-3">
    <div class="container-fluid">
      <img src="/images/Chuck-norris-laughing.jpg" alt="Logo" id="logo"/>
      <a class="navbar-brand fw-normal text-dark mx-2" href="/home" id="logo-text">Chuckle Norris</a>

      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <li class="nav-item"><a class="nav-link text-dark" href="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="/createJoke">Create a Joke</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="/rankJoke">Rank a Joke</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="/favorites">Favorites</a></li>
          <li class="nav-item mx-3">
            <a class="btn btn-outline-primary" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
