<section id="createJoke">
  <h1>Create Your Own Joke!</h1>
  <div class="container">
    <form (ngSubmit)="onSubmit()">
      <div class="group">
        <div class="counter-wrapper">
          <textarea
            id="textInput"
            placeholder="Start typing..."
            [(ngModel)]="newJoke"
            name="newJoke"
            required
          ></textarea>
        </div>
      </div>
      <button class="btn" type="submit" [disabled]="!newJoke">Submit & Save</button>
    </form>
  </div>
</section>