    <div class="container" id="container" [ngClass]="{ 'right-panel-active': isRightPanelActive }">
        <div class="form-container signup-container">
            <form (ngSubmit)="createAccount()">
                <h1>Create Account</h1>
                <input type="text" placeholder="First Name" [(ngModel)]="newUser.firstName" name="firstName">
                <input type="text" placeholder="Last Name" [(ngModel)]="newUser.lastName" name="lastName">
                <input type="email" placeholder="User Name" [(ngModel)]="newUser.userName" name="email">
                <input type="password" placeholder="Password" [(ngModel)]="newUser.password" name="password">
                <input type="submit" value="Sign Up" class="submit"/> 
            </form>
        </div>

        <div class="form-container login-container">
            <form (ngSubmit)="login()">
                <h1>Login</h1>
                <input type="text" placeholder="User Name" [(ngModel)]="userLogin.userName" name="email">
                <input type="password" placeholder="Password" [(ngModel)]="userLogin.password" name="password">
                <a href="#">Forgot your password?</a>
                <input type="submit" value="Login" class="submit"/> 
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="login" (click)="toggleRightPanel()">Login</button>
                </div>

                <div class="overlay-panel overlay-right">
                    <h1>Hello Friend</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signup" (click)="toggleRightPanel()">Sign up</button>
                </div>
            </div>
        </div>
    </div>

